<?xml version="1.0"?>
<config>
	<modules>
		<Flagbit_FeedbackDialog>
			<active>true</active>
			<codePool>local</codePool>
			<version>0.1.0</version>
		</Flagbit_FeedbackDialog>
	</modules>
	<adminhtml>
		<translate>
			<modules>
				<flagbit_feedbackdialog>
					<files>
						<default>Flagbit_FeedbackDialog.csv</default>
					</files>
				</flagbit_feedbackdialog>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<flagbit_feedbackdialog>
					<file>flagbit_feedbackdialog.xml</file>
				</flagbit_feedbackdialog>
			</updates>
		</layout>
		<translate>
			<modules>
				<flagbit_feedbackdialog>
					<files>
						<default>Flagbit_FeedbackDialog.csv</default>
					</files>
				</flagbit_feedbackdialog>
			</modules>
		</translate>
	</frontend> 
	<global>
		<blocks>
            <flagbit_feedbackdialog>
                <class>Flagbit_FeedbackDialog_Block</class>
            </flagbit_feedbackdialog>
        </blocks>
		<helpers>
			<flagbit_feedbackdialog>
				<class>Flagbit_FeedbackDialog_Helper</class>
			</flagbit_feedbackdialog>
		</helpers>
	</global>
</config>